*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#0B2434;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: sans-serif;
}
main{
    background-color: #f5f5f5;
    height: 460px;
    max-width:800px;
    margin:  100px auto;
    border-radius:5px;
    display:flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.dot {
  width: 7px;
  height: 7px;
  background-color: black; /* Adjust color as needed */
  border-radius: 50%;
  margin: 5px;
  display:inline-flex;
  /* Adjust spacing between dots as needed */
}

.container{
    display:grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}
.die-face{
    height: 80px;
    width: 80px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.title{
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}
.instruction{
    font-size: 12px;
}
.tenzie-text{
    text-align: center;
    margin-bottom: 20px;
}
.die-num{
    font-size: 7px;
}
.roll-btn{
    border: none;
    outline: none;
    text-align: center;
    padding: 1rem 2rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.roll-btn:active{
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
